<template lang="pug">
  .count-down
    h2.title Và mình đã yêu nhau được:
    .clock
      .block
        .digit {{ day }}
        .text Ngày
      .block
        .digit {{ hours }}
        .text Giờ
      .block
        .digit {{ minutes }}
        .text Phút
      .block
        .digit {{ seconds }}
        .text Giây
</template>

<script>
  export default {
    name: 'count-down',

    props: {
      date: {type: String}
    },

    computed: {
      startDate () {
        return this.truncateFractional(new Date(this.date).getTime() / 1000)
      },

      seconds () {
        return (this.now - this.startDate) % 60
      },

      minutes () {
        return this.truncateFractional((this.now - this.startDate) / 60) % 60
      },

      hours () {
        return this.truncateFractional((this.now - this.startDate) / 60 / 60) % 24
      },

      day () {
        return this.truncateFractional((this.now - this.startDate) / 60 / 60 / 24)
      }
    },

    data: () => ({
      now: () => this.truncateFractional((new Date()).getTime() / 1000)
    }),

    mounted () {
      setInterval(() => {
        this.now = this.truncateFractional((new Date()).getTime() / 1000)
      }, 1000)
    }
  }
</script>

<style lang="scss" scoped>
  .count-down {
    position: fixed;
    bottom: 10px;
  }

  .title {
    color: #f0e68c;
    text-align: center;
    margin: 0 10px 5px 10px;
  }

  .block {
    font-size: 28px;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    margin: 0 5px;
  }

  .digit {
    background: rgba(51, 51, 51, 0.53);
    color: #fff;
    padding: 0 5px;
    border-radius: 5px;
    display: inline-block;
    width: 60px;
  }

  .text {
    color: #1abc9c;
    font-weight: 300;
    font-size: 14px;
    opacity: 0.8;
    width: 60px;
  }
</style>
