<template>
  <div class="happy-birthday">
    <audio src="/static/audio/happybirthday_byme.mp3" preload="auto" id="birthday_song">
      Your browser does not support the audio element.
    </audio>
    <div class="container">
      <div class="girl">
        <div class="hair"></div>
        <div class="ears">
          <div class="ear left">
            <div class="ring"></div>
          </div>
          <div class="ear right">
            <div class="ring"></div>
          </div>
        </div>
        <div class="face"></div>
        <div class="eye-brows">
          <div class="brow left-brow"></div>
          <div class="brow right-brow"></div>
        </div>
        <div class="eyes">
          <div class="eye">
            <div class="eye-ball"></div>
          </div>
          <div class="eye">
            <div class="eye-ball"></div>
          </div>
        </div>
        <div class="mouth">
          <div class="teeth"></div>
          <div class="blow"></div>
        </div>
        <div class="neck"></div>
        <div class="body">
          <div class="hands">
            <div id="right_hand">
              <div class="palm" id="right_palm"></div>
            </div>
            <div id="left_hand">
              <div class="palm" id="left_palm"></div>
            </div>
          </div>
          <div class="shirt"></div>
          <div class="jeans">
            <div class="legs"></div>
            <div class="gap legs"></div>
            <div class="legs"></div>
          </div>
          <div class="foot">
            <div class="shoes">
              <div class="lace"></div>
              <div class="lace"></div>
            </div>
            <div class="shoes">
              <div class="lace"></div>
              <div class="lace"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="boy">
        <div class="head">
          <div class="hair"></div>
          <div class="fringe"></div>
          <div class="ears">
            <div class="ear left"></div>
            <div class="ear right"></div>
          </div>
          <div class="face"></div>
          <div class="eye-brows">
            <div class="brow left-brow"></div>
            <div class="brow right-brow"></div>
          </div>
          <div class="eyes">
            <div class="eye" id="left-eye">
              <div class="eye-ball"></div>
            </div>
            <div class="eye" id="right-eye">
              <div class="eye-ball"></div>
            </div>
          </div>
          <div class="mouth"></div>
        </div>
        <div class="neck"></div>
        <div class="body">
          <div class="shirt">
            <div class="cake">
              <div class="candle">
                <div id="flame" class="lit"></div>
              </div>
              <div class="layer" id="layer1"></div>
              <div class="layer" id="layer2"></div>
            </div>
            <div class="sleeves" id="left-sleeve"></div>
            <div class="hand" id="left-hand"></div>
            <div class="hand" id="left-fore-hand"></div>
            <div class="hand" id="left-palm"></div>
            <div class="sleeves" id="right-sleeve"></div>
            <div class="hand" id="right-hand"></div>
            <div class="hand" id="right-fore-hand"></div>
            <div class="hand" id="right-palm"></div>
            <div class="balloons">
              <div class="balloon green" id="dark-green"></div>
              <div class="string" id="str-1"></div>
              <div class="balloon pink" id="one"></div>
              <div class="string" id="str-2"></div>
              <div class="balloon green" id="two"></div>
              <div class="string" id="str-3"></div>
              <div class="balloon pink" id="three"></div>
              <div class="string" id="str-4"></div>
              <div class="string" id="str-5"></div>
              <div class="balloon pink" id="five"></div>
            </div>
          </div>
          <div class="jeans">
            <div class="legs"></div>
            <div class="gap legs"></div>
            <div class="legs"></div>
          </div>
          <div class="foot">
            <div class="shoes">
              <div class="lace"></div>
              <div class="lace"></div>
            </div>
            <div class="shoes">
              <div class="lace"></div>
              <div class="lace"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'happy-birthday',
    mounted () {
      document.body.style.padding = '0'
      document.body.style.margin = '0'
      document.body.style.boxSizing = 'border-box'
      document.body.style.overflow = 'hidden'

      const router = this.$router
      let $blow = document.querySelectorAll('.girl .mouth .blow')
      let $grin = document.querySelectorAll('.girl .mouth .teeth')

      setTimeout(function () {
        document.getElementsByClassName('boy')[0].style.top = '-10px'
        setTimeout(function () {
          $blow[0].style.visibility = 'visible'
          setTimeout(function () {
            $blow[0].style.visibility = 'hidden'
            $grin[0].style.visibility = 'visible'

            document.querySelector('.lit').classList.add('off')
            document.querySelector('.girl').classList.add('dance')
            document.querySelector('.boy').classList.add('dance')
            let $song = document.getElementById('birthday_song')

            $song.play()
            $song.onended = function () {
              document.querySelector('.girl').classList.remove('dance')
              document.querySelector('.boy').classList.remove('dance')
              router.replace({name: 'BirthdayGift'})
            }
            setTimeout(() => router.replace({name: 'BirthdayGift'}), 68000) // After 1 min
          }, 100)
        }, 4000)
      }, 3000)
    }
  }
</script>

<style lang="scss" scoped>
  $size: 18px;
  $ring-color: #fff;

  .iframe-sound {
    position: absolute;
    bottom: 0;
    z-index: 0;
  }

  .swing {
    animation: 1.5s float ease-in-out alternate infinite;
  }

  .container {
    position: relative;
    z-index: 10;
    background-color: #FF8C94;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 30px;

    .cake {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      top: -5px;
      left: -135px;
      z-index: 101;

      .candle {
        position: relative;
        height: 20px;
        width: 5px;
        background-color: #fff;
        border-radius: 4px;
        z-index: 10;
      }

      #flame {
        position: absolute;
        z-index: 10;
      }

      .lit {
        background-color: #ffc950;
        width: 5px;
        height: 12px;
        filter: blur(1px);

        /*  Info on border radius. http://www.css3.info/preview/rounded-border/ */
        border-top-left-radius: 10px 35px;
        border-top-right-radius: 10px 35px;
        border-bottom-right-radius: 10px 10px;
        border-bottom-left-radius: 10px 10px;
        top: -15px;
        margin: auto;
        box-shadow: 0 0 17px 7px rgba(244, 231, 112, 0.71);
        transform-origin: bottom;
        animation: flicker 1s ease-in-out alternate infinite;
      }

      .off {
        display: none;
      }

      #layer1 {
        width: 50px;
        height: 20px;
        background-color: #715447;
      }

      #layer2 {
        height: 10px;
        width: 100px;
        background-color: #ddd;
      }

    }

    .girl {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
      top: 15px;
      left: -57px;

      &.dance {
        @extend .swing;
      }

      .hair {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        background-color: #424b54;
        border-top-left-radius: 120% 200%;
        border-top-right-radius: 120% 200%;
        z-index: 2;
        position: relative;
        top: 25px;
      }

      .face {
        background-color: #fed9a5;
        width: 40px;
        height: 60px;
        border-radius: 100%;
        position: relative;
        top: -35px;
        z-index: 3;
      }

      .eye-brows {
        position: relative;
        top: -80px;
        z-index: 100;
        display: flex;
        justify-content: space-around;
        width: 30px;
        .brow {
          width: 8px;
          height: 2px;
          background-color: #000;
        }

        .left-brow {
          border-top-left-radius: 100%;
        }

        .right-brow {
          border-top-right-radius: 100%;
        }
      }

      .ears {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        z-index: 10;
        height: 2px;
        position: relative;
        top: -20px;

        .ear.left {
          width: 10px;
          height: 15px;
          background-color: #fed9a5;
          position: relative;
          left: -17px;
          top: 7px;
          border-radius: 100%;

          .ring {
            width: 5px;
            height: 5px;
            background-color: $ring-color;
            position: relative;
            top: 11px;
            left: 2px;
            border-radius: 100%;
          }
        }

        .ear.right {
          width: 10px;
          height: 15px;
          background-color: #fed9a5;
          position: relative;
          left: 17px;
          top: 7px;
          z-index: -1;
          border-radius: 100%;
          .ring {
            width: 5px;
            height: 5px;
            background-color: $ring-color;
            position: relative;
            top: 11px;
            left: 3px;
            border-radius: 100%;
          }
        }

      }

      .eyes {
        display: flex;
        justify-content: space-around;
        width: 30px;
        position: relative;
        top: -35px;
        .eye {
          width: 6px;
          height: 6px;
          top: -43px;
          border-radius: 100%;
          background-color: #fff;
          z-index: 999;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .eye-ball {
            width: 3px;
            height: 3px;
            border-radius: 100%;
            background-color: #000;
          }
        }
      }

      .mouth {
        width: 15px;
        height: 7px;
        background-color: #D51462;
        z-index: 100;
        position: relative;
        top: -65px;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .teeth {
          height: 5px;
          min-width: 13px;
          border-bottom-left-radius: 100%;
          border-bottom-right-radius: 100%;
          background-color: #fff;
          visibility: hidden;
          position: relative;
          left: 8px;
          border: 2px solid #D51462;
          z-index: 1;
        }

        .blow {
          height: 8px;
          background-color: #424b54;
          position: relative;
          left: -8px;
          min-width: 10px;
          border-radius: 100%;
          border: 3px solid #D51462;
          visibility: hidden;
        }
      }

      .neck {
        background-color: #fed9a5;
        width: 15px;
        height: 25px;
        z-index: 3;
        position: relative;
        top: -55px;
        border-bottom-left-radius: 120% 100%;
        border-bottom-right-radius: 120% 100%;
      }

      .body {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .shirt {
          width: 90px;
          height: 110px;
          background-color: #D51462;
          position: relative;
          top: -85px;
          border-top-left-radius: 120% 100%;
          border-top-right-radius: 120% 100%;
          display: flex;
          justify-content: space-between;
        }

        .hands {
          display: flex;
          position: relative;
          top: -20px;
          z-index: 101;
          .palm {
            width: 20px;
            height: 20px;
            background-color: #fed9a5;
            border-radius: 100%;
          }

          #left_hand {
            position: relative;
            width: 100px;
            height: 20px;
            background-color: #8F0D42;
            top: 0px;
            left: 0px;
            transform: rotate(67deg);
            border-top-left-radius: 120% 100%;
            border-bottom-left-radius: 120% 100%;

            #left_palm {
              position: relative;
              left: 95px;
            }
          }

          #right_hand {
            position: relative;
            width: 100px;
            height: 20px;
            background-color: #8F0D42;
            left: 0px;
            top: 0px;
            transform: rotate(-67deg);
            z-index: 100;
            border-top-right-radius: 120% 100%;
            border-bottom-right-radius: 120% 100%;

            #right_palm {
              position: relative;
              left: -15px;
            }
          }
        }

        .jeans {
          width: 70px;
          height: 30px;
          background-color: #fff;
          z-index: 100;
          position: relative;
          top: -85px;
          display: flex;
          justify-content: space-between;

          .legs {
            width: 40px;
            height: 90px;
            background-color: #ddd;
            position: relative;
            top: 30px;
            border-bottom-left-radius: 120% 100%;
            border-bottom-right-radius: 120% 100%;
          }

          .gap {
            height: 5px;
            width: 10px;
            border-bottom-left-radius: 120% 100%;
            border-bottom-right-radius: 120% 100%;
          }
        }

        .foot {
          display: flex;
          justify-content: space-between;
          width: 70px;
          position: relative;
          top: -5px;
          .shoes {
            width: 30px;
            height: 40px;
            background-color: #D51462;
            position: relative;
            z-index: 300;
            border-bottom-left-radius: 120% 100%;
            border-bottom-right-radius: 120% 100%;
          }
        }
      }
    }

    .boy {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
      left: -68px;
      top: -600px;
      -webkit-transition: top 2s ease; /* Safari */
      transition: top 2s ease;

      &.dance {
        @extend .swing;
      }

      .head {
        height: 80px;
        width: 60px;
        position: relative;
        top: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .hair {
          width: 40px;
          height: 55px;
          position: absolute;
          background-color: #424b54;
          border-top-left-radius: 150% 70%;
          border-top-right-radius: 150% 70%;
          border-bottom-left-radius: 150% 170%;
          border-bottom-right-radius: 150% 170%;
          z-index: 2;
        }

        .fringe {
          width: 40px;
          height: 20px;
          z-index: 99;
          position: relative;
          top: 4px;
          border-radius: 100% 0 100% 100%;
          background-color: #424b54;
        }

        .face {
          background-color: #fed9a5;
          width: 55%;
          height: 50px;
          border-radius: 100%;
          position: relative;
          top: -7px;
          z-index: 3;
          display: flex;
        }

        .eye-brows {
          position: relative;
          top: -43px;
          z-index: 100;
          display: flex;
          justify-content: space-around;
          width: 30px;
          .brow {
            width: 8px;
            height: 2px;
            background-color: #000;
          }

          .left-brow {
            border-top-left-radius: 100%;
          }

          .right-brow {
            border-top-right-radius: 100%;
          }
        }

        .eyes {
          display: flex;
          justify-content: space-around;
          width: 30px;
          .eye {
            width: 6px;
            height: 6px;
            top: -40px;
            border-radius: 100%;
            background-color: #fff;
            z-index: 999;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .eye-ball {
              width: 3px;
              height: 3px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 100%;
              background-color: #000;
            }
          }
        }

        .ears {
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          z-index: 10;
          height: 2px;

          .ear.left {
            width: 10px;
            height: 15px;
            background-color: #fed9a5;
            position: relative;
            left: -9px;
            top: 7px;
            border-radius: 100%;
          }

          .ear.right {
            width: 10px;
            height: 15px;
            background-color: #fed9a5;
            position: relative;
            left: 9px;
            top: 7px;
            z-index: -1;
            border-radius: 100%;
          }
        }

        .mouth {
          width: 15px;
          height: 7px;
          position: relative;
          background-color: #fff;
          z-index: 150;
          top: -30px;
          border-bottom-left-radius: 50%;
          border-bottom-right-radius: 50%;
        }
      }

      .neck {
        background-color: #fed9a5;
        width: 15px;
        height: 35px;
        z-index: 3;
        position: relative;
        top: -20px;
        border-bottom-left-radius: 120% 100%;
        border-bottom-right-radius: 120% 100%;
      }

      .body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .shirt {
          width: 90px;
          height: 120px;
          background-color: #40BEB0;
          position: relative;
          top: -40px;
          border-top-left-radius: 120% 100%;
          border-top-right-radius: 120% 100%;
          display: flex;
          justify-content: space-between;

          .sleeves {
            width: 20px;
            height: 120px;
            background-color: #2E8A80;
            z-index: 110;
          }

          .hand {
            background-color: #fed9a5;
            z-index: 103;
          }

          #left-hand {
            position: absolute;
            width: 60px;
            height: 25px;
            left: -45px;
            top: 55px;
            transform: rotate(-67deg);
          }

          #left-fore-hand {
            position: absolute;
            width: 45px;
            height: 25px;
            left: -60px;
            top: 75px;
            border-bottom-left-radius: 50%;
          }

          #left-palm {
            position: absolute;
            height: $size;
            width: $size * 2;
            border-bottom-left-radius: $size * 2;
            border-bottom-right-radius: $size * 2;
            top: 76px;
            left: -95px;
            background-color: #EBC898;
          }

          #left-sleeve {
            position: absolute;
            left: -30px;
            top: 20px;
            width: 60px;
            height: 30px;
            border-top-right-radius: 80%;
            border-bottom-right-radius: 40%;
            transform: rotate(-67deg);
          }

          #right-hand {
            position: absolute;
            width: 60px;
            height: 25px;
            left: 70px;
            top: 35px;
            z-index: 1;
            // border-bottom-right-radius:30%;
            transform: rotate(47deg);
          }

          #right-fore-hand {
            position: absolute;
            width: 55px;
            height: 25px;
            left: 112px;
            top: 53px;
            border-bottom-left-radius: 30%;
            border-bottom-right-radius: 30%;
            transform: rotate(-47deg);
            z-index: 10
          }

          #right-palm {
            position: absolute;
            height: $size +5;
            width: $size + 5;
            border-radius: 100%;
            top: 25px;
            left: 150px;
            z-index: 10;
            background-color: #EBC898;
          }

          #right-sleeve {
            position: absolute;
            left: 55px;
            top: 15px;
            width: 60px;
            height: 30px;
            border-top-left-radius: 80%;
            border-bottom-left-radius: 40%;
            transform: rotate(47deg);
          }

          .balloons {
            width: 100px;
            height: 150px;
            left: 60px;
            top: -200px;
            position: absolute;
            z-index: 9;
            display: flex;
            // animation: 5s float ease-in-out alternate infinite;

            .balloon {
              border-radius: 100%;
              min-width: 50px;
              height: 75px;
              position: relative;
              opacity: 0.98;
              box-shadow: inset 0px 2px 2px #CCC;

              &.pink {
                background-color: #D51462;
              }

              &.green {
                background-color: #F0F1EA;
              }
            }

            #one {
              top: 20px;
            }

            #two {
              top: 22px;
              left: -22px;
            }

            #three {
              top: 42px;
              left: -70px;
            }

            #four {
              top: 45px;
              left: -85px;
            }

            #five {
              transform: rotate(-5deg);
              top: 64px;
              left: -137px;
            }

            #dark-green {
              top: 40px;
              left: 30px;
            }

            .string {
              z-index: -1;
              position: absolute;
              width: 1px;
              height: 140px;
              background: #AAA;
            }

            #str-1 {
              transform: rotate(-17deg);
              top: 110px;
              left: 80px;
            }

            #str-2 {
              transform: rotate(-10deg);
              top: 90px;
              left: 87px;
              height: 160px;
            }

            #str-3 {
              transform: rotate(-7deg);
              top: 110px;
              left: 95px;
            }

            #str-4 {
              transform: rotate(0deg);
              top: 110px;
              left: 100px;
            }

            #str-5 {
              transform: rotate(4deg);
              top: 80px;
              left: 107px;
              height: 160px;
            }

            #str-6 {
              transform: rotate(18deg);
              top: 80px;
              left: 125px;
              height: 160px;
            }
          }
        }

        .jeans {
          width: 70px;
          height: 40px;
          background-color: #464F02;
          z-index: 100;
          position: relative;
          top: -40px;
          display: flex;
          justify-content: space-between;

          .legs {
            width: 40px;
            height: 140px;
            background-color: #4F5902;
            position: relative;
            top: 30px;
            border-bottom-left-radius: 120% 100%;
            border-bottom-right-radius: 120% 100%;
          }

          .gap {
            height: 5px;
            width: 10px;
            border-bottom-left-radius: 120% 100%;
            border-bottom-right-radius: 120% 100%;
          }
        }

        .foot {
          display: flex;
          justify-content: space-between;
          width: 70px;
          .shoes {
            width: 30px;
            height: 40px;
            background-color: white;
            position: relative;
            top: 50px;
            z-index: 300;
            border-bottom-left-radius: 120% 100%;
            border-bottom-right-radius: 120% 100%;
          }
        }

      }
      /*End of body*/
    }
  }

  @keyframes float {
    0% {
      transform: translateY(0) rotate(1deg)
    }
    100% {
      transform: translateY(50) rotate(-1deg)
    }
  }

  @keyframes flicker {
    0% {
      transform: skewX(5deg);
      box-shadow: 0 0 17px 10px rgba(244, 231, 112, 0.71);
    }

    25% {
      transform: skewX(-5deg);
      box-shadow: 0 0 17px 5px rgba(244, 231, 112, 0.71);
    }

    50% {
      transform: skewX(10deg);
      box-shadow: 0 0 17px 7px rgba(244, 231, 112, 0.71);
    }

    75% {
      transform: skewX(-10deg);
      box-shadow: 0 0 17px 5px rgba(244, 231, 112, 0.71);
    }

    100% {
      transform: skewX(5deg);
      box-shadow: 0 0 17px 10px rgba(244, 231, 112, 0.71);
    }
  }
</style>
