<template lang="pug">
  .image-gallery
    layout.parent-layout(v-show="collections.length")
      sider.sider-bar(:class="menuBarClasses", breakpoint="sm", collapsible, :collapsed-width="0", v-model="isCollapsed")
        .menu-bar-content(v-show="!isCollapsed")
          .navigation-bar
            h1.nav-title(style="color: #f7f7f7;") Nhật Ký Tình Yêu
            span.sub-title Tuấn&nbsp
            .sub-title.heart(style="color: crimson;") ❤
            span.sub-title &nbspLoan
            .nav-description
              p Nơi lưu giữ những kỷ niệm của anh và em, thời gian mình bên nhau hạnh phúc có, buồn có vui có, giận hờn đó, chia sẻ cùng nhau đó, tất cả sẽ được lưu giữ lại đây...
          memories
          count-down(date="2017-05-11")
      layout.content-layout
        content
          vue-pull-to.wrapper(:top-load-method="onRefresh", :topConfig="pullToTopConfig")
            .cards
              image-card(
                v-for="collection in collections",
                :key="collection.imageId",
                :collection="collection",
                @updateImage="handleEditImage",
                @deleteImage="handleEditImage"
              )
          //add-image
          image-form-modal(@uploadSuccess="handleEditImage")
          .back-to-top(v-show="isScrollDown", @click="handleBackTop")
            icon(type="android-arrow-up", size="25", color="#fff")
    loading-spinner
</template>

<script>
  import EventBus from '@/event-bus'
  import Cloudinary from 'cloudinary-core'
  import Memories from '@/components/Memories'
  import ImageCard from '@/components/ImageCard'
  import CountDown from '@/components/CountDown'
  import ImageFormModal from '@/components/ImageFormModal'
  import LoadingSpinner from '@/components/util/LoadingSpinner'
  import PerfectScrollbar from 'perfect-scrollbar'
  import VuePullTo from 'vue-pull-to'

  export default {
    name: 'ImageGallery',
    components: {
      VuePullTo,
      EventBus,
      Memories,
      CountDown,
      ImageCard,
      ImageFormModal,
      LoadingSpinner
    },
    data: () => ({
      cloudinary: null,
      collections: [],
      nextCursor: '',
      hasLoadMore: false,
      isCollapsed: false,
      isFirstTime: false,
      isScrollDown: false,
      ps: null,
      pullToTopConfig: {
        pullText: 'Pull down to refresh', // The text is displayed when you pull down
        triggerText: 'Release update', // The text that appears when the trigger distance is pulled down
        loadingText: 'Loading...', // The text in the load
        doneText: '', // Load the finished text
        failText: 'Failed to load', // Load failed text
        loadedStayTime: 400, // Time to stay after loading ms
        stayDistance: 50, // Trigger the distance after the refresh
        triggerDistance: 70 // Pull down the trigger to trigger the distance
      }
    }),
    computed: {
      menuBarClasses () {
        return [this.isCollapsed ? 'menu-bar-collapsed' : 'menu-bar-no-collapse']
      }
    },
    watch: {
      isCollapsed () {
        if (this.isCollapsed) {
          document.querySelector('.default-text').style.opacity = 1
        } else {
          document.querySelector('.default-text').style.opacity = 0
          this.isScrollDown = false
        }
      }
    },
    created () {
      // global event handling
      // window.addEventListener('scroll', this.debounce(this.handleGlobalScroll, 300))
    },
    mounted () {
      const psContainer = document.querySelector('.scroll-container')
      this.ps = new PerfectScrollbar(psContainer, {
        wheelSpeed: 2,
        wheelPropagation: true,
        minScrollbarLength: 30
      })
      psContainer.addEventListener('ps-y-reach-start', () => { this.isScrollDown = false })
      psContainer.addEventListener('ps-y-reach-end', this.debounce(this.handleScroll, 500))
      psContainer.addEventListener('ps-scroll-y', () => { this.isScrollDown = true })
      this.isFirstTime = true
      // EventBus.$on('window-scrolled-bottom', this.handleScroll)
      this.cloudinary = Cloudinary.Cloudinary.new({cloud_name: 'nat2710'})
      this.fetchImage()
    },
    destroy () {
      this.ps.destroy()
    },
    methods: {
      fetchImage () {
        EventBus.$emit('loading', true)
        this.$http.get('/my-album', {params: {nextCursor: this.nextCursor}})
          .then(({data}) => {
            const isModifyImage = !this.nextCursor
            this.nextCursor = data.next_cursor
            // let testImage = data.resources.filter(it => it.public_id.match(/^Family.*/))
            const images = data.resources.map(it => ({
              publicId: it.public_id,
              url: this.transform(it.public_id),
              alt: (it.context && it.context.custom.alt) || 'Alt text',
              caption: (it.context && it.context.custom.caption) || 'Caption text'
            }))

            if (isModifyImage) {
              this.collections = images
            } else {
              this.collections = this.collections.concat(images)
            }

            if (this.hasLoadMore) {
              this.hasLoadMore = false
            }
            EventBus.$emit('loading', false)
          })
          .finally(() => {
            EventBus.$emit('loading', false)
          })
      },

      transform (publicId) {
        return this.cloudinary.url(publicId, {
          transformation: [
            {
              width: 800,
              gravity: 'auto',
              crop: 'fill',
              quality: 'auto',
              secure: true
            }
            // {angle: -5}
          ]
        })
      },

      handleEditImage () {
        this.nextCursor = ''
        this.handleBackTop()
        this.fetchImage()
      },

      handleGlobalScroll () {
        const windowHeight = window.innerHeight
        const bodyHeight = document.body.clientHeight
        const scrollY = window.scrollY || window.pageYOffset

        if (windowHeight + scrollY >= bodyHeight * 0.9) {
          EventBus.$emit('window-scrolled-bottom')
        }
      },

      handleScroll () {
        if (this.nextCursor) {
          this.hasLoadMore = true
          this.fetchImage()
        } else {
          !this.isFirstTime && this.$Notice.warning({
            title: 'No more data for loading'
          })

          this.isFirstTime = false
        }
      },

      onRefresh (loaded) {
        this.handleEditImage()
        loaded('done')
      },

      handleBackTop () {
        document.querySelector('.scroll-container').scrollTop = 0
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import url('https://fonts.googleapis.com/css?family=Pacifico');
  @import url('https://fonts.googleapis.com/css?family=Pattaya');
  @import '~perfect-scrollbar/css/perfect-scrollbar.css';

  $font-pacifico: 36px "Pacifico", serif;
  $font-pattaya: 36px "Pattaya", serif;

  .parent-layout {
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-image: url("http://ed6def9bdabce1fdfd35-8e7b4b3e52d0a4dd031fa6d4e1964bf9.r73.cf2.rackcdn.com/uploaded/s/0e4953152_1457760083_screen-shot-2012-01-18-at-84913-am.png");

    .sider-bar {
      background: rgba(0, 0, 0, 0.5) none;
      background-size: cover;
    }

    .menu-bar-no-collapse {
      width: 280px !important;
      min-width: 280px !important;
      max-width: 280px !important;
      flex: 0 0 280px !important;
    }

    .menu-bar-collapsed {
      width: 0 !important;
      min-width: 0 !important;
      max-width: 0 !important;
      flex: 0 !important;
    }

    .navigation-bar {
      position: fixed;
      max-width: 280px;
      text-align: center;
      padding: 10px;
      color: #fff;

      .nav-title {
        font: $font-pacifico;
        font-size: 3em;
      }

      .sub-title {
        display: inline-block;
        font: $font-pattaya;
      }

      .heart {
        animation: heartbeat 1s infinite;
      }

      @keyframes heartbeat {
        0% {
          transform: scale( .75 );
        }
        20% {
          transform: scale( 1 );
        }
        40% {
          transform: scale( .75 );
        }
        60% {
          transform: scale( 1 );
        }
        80% {
          transform: scale( .75 );
        }
        100% {
          transform: scale( .75 );
        }
      }

      .nav-description {
        font: $font-pattaya;
        background: rgba(0, 0, 0, 0.5);
        padding: 10px;
        border-radius: 5px;
        margin-top: 15px;
        font-size: 1.1em;
      }
    }

    .content-layout {
      background: none;
    }
  }

  main {
    text-align: center;
    margin-top: 40px;
  }

  header {
    margin: 0;
    height: 56px;
    padding: 0 16px 0 24px;
    background-color: #35495E;
    color: #ffffff;
  }

  header span {
    display: block;
    position: relative;
    font-size: 20px;
    line-height: 1;
    letter-spacing: .02em;
    font-weight: 400;
    box-sizing: border-box;
    padding-top: 16px;
  }

  .cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    column-count: 1;
    column-gap: 2em;
  }

  .wrapper {
    position: relative;
    height: 100vh !important;
    margin: auto;
    width: 100%;

    & /deep/ .default-text {
      line-height: 45px !important;
      color: white;
    }

    & /deep/ .scroll-container {
      position: relative;
      padding: 30px 40px 0;
    }
  }

  .ivu-modal {
    top: 20%;
  }

  .sub-title {
    font-size: 20pt;
    color: khaki;
  }

  .back-to-top {
    position: fixed;
    bottom: 10px;
    left: 45%;
    padding: 4px 10px;
    background-color: rgba(0,0,0,.6);
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    cursor: pointer;
  }

  @media only screen and (min-width: 500px) {
    .cards {
      column-count: 1;
    }
  }

  @media only screen and (min-width: 700px) {
    .cards {
      column-count: 2;
    }
  }

  @media only screen and (min-width: 900px) {
    .cards {
      column-count: 3;
    }
  }

  @media only screen and (min-width: 1100px) {
    .cards {
      column-count: 5;
    }
  }
</style>
