<template lang="pug">
  .image-card(v-if="collection")
    .card-content(@mouseover="isHover = true", @mouseout="isHover = false")
      .delete-group
        modal(v-model="isOpenDeleteModal", width="360")
          p.delete-model-header(slot="header")
            icon(type="information-circled")
            span &nbsp;Delete confirmation
          div(style="text-align:center")
            p This image will be deleted on server.
            p Do you want to delete it?
          div(slot="footer")
            i-button(type="error", size="large", long, :loading="isDeleteModalLoading", @click="handleRemoveImage") Delete
        .delete-icon(v-show="isHover", @click="isOpenDeleteModal = true")
          icon(type="close-round", :size="13")
      .image-group
        img(v-img="{group: 'my-group'}", :src="collection.url", :alt="collection.caption")
        //img
        .description
          .caption
            tooltip(:content="`${collection.caption}`", :placement="tooltipPosition") {{ collection.caption }}
          modal(v-model="isOpenEditModal", title="Edit image", @on-ok="handleSubmitModal")
            i-form(:model="formItem", :label-width="80")
              form-item(label="Caption text")
                i-input(v-model="formItem.caption", type="textarea", :autosize="{minRows: 3, maxRows: 5}", placeholder="Enter caption text...")
          .edit-caption(v-show="isHover", @click="handleOpenEditModal")
            icon(type="edit")
</template>

<script>
  export default {
    name: 'image-card',
    components: {
    },
    props: {
      collection: {type: Object, required: false}
    },
    computed: {
    },
    data: () => ({
      isHover: false,
      isDeleteModalLoading: false,
      isOpenDeleteModal: false,
      isOpenEditModal: false,
      captionText: '',
      editField: '',
      formItem: {
        publicId: '',
        caption: ''
      },
      tooltipPosition: 'top'
    }),
    methods: {
      handleOpenEditModal () {
        this.isOpenEditModal = true
        this.formItem = {...this.collection}
      },

      handleSubmitModal () {
        this.$http.post('/update/image', this.formItem)
          .then(({data}) => {
            if (data.status === 200) {
              this.$emit('updateImage')
              this.$Notice.success({
                title: 'Updating successful.'
              })
            }
          })
      },

      handleRemoveImage () {
        this.isDeleteModalLoading = true
        this.$http.delete('/delete/image', {params: {publicId: this.collection.publicId}})
          .then(({data}) => {
            if (data.status === 200) {
              this.$emit('deleteImage')
              this.isDeleteModalLoading = false
              this.isOpenDeleteModal = false

              this.$Notice.success({
                title: 'Deleting successful.'
              })
            }
          })
      }
    }
  }
</script>

<style lang="scss" scoped>
  .image-card {
    position: relative;
    z-index: 0;
    display: inline-block;
    padding: 10px; 
    /* width: 100%; */
    width: 184px;
    height: 290px;
    cursor: pointer;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    -webkit-backface-visibility: hidden;
    transition: all 100ms ease-in-out;

    &:hover {
      z-index: 1;
    }
  }

  .image-card:hover {
    transform: translateY(-0.5em);
  }

  img {
    display: block;
    width: 100%;
    height: 230px;
    border: 1px solid #FFF;
    /*background: gainsboro;*/
    /*height: 350px;*/
  }

  .delete-group {
    text-align: center;
  }

  .delete-icon {
    position: absolute;
    top: 15px;
    right: 17px;
    color: #fdfdfd;
  }

  .delete-model-header {
    color: #f60;
    text-align: center;
  }

  .caption {
    position: relative;
    top: -1px;
    color: #fff;
    border: 1px solid #fff;
    border-top: none;
    box-shadow: 0 0 1px #fff;
    padding: 7px;
    font-size: 11pt;
    text-align: center;
    line-height: 1.1em;
  }

  .edit-caption {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fdfdfd;
  }
</style>
