<template lang="pug">
  .image-form-modal
    img.add-btn(src="../assets/img/add-btn.svg", @click="isOpenModal = true")
    modal(v-model="isOpenModal", title="Select image upload", :footerHide="true")
      .upload-modal(v-show="hasAdditionalInfo")
        upload(
          multiple,
          name="image",
          type="drag",
          :data="formItem",
          :max-size="9000",
          :format="['jpg', 'jpeg', 'png']",
          :onFormatError="handleFormatError",
          :onExceededSize="handleMaxSize",
          :beforeUpload="handleBeforeUpload",
          :onSuccess="handleUploadSuccess",
          action="https://loannguyen.tuanngo.xyz/api/upload/image",
          ref="upload"
        )
          div(style="padding: 20px 0")
            icon(type="ios-cloud-upload", size="52", style="color: #3399ff")
            p Click or drag files here to upload
      alert(v-show="!hasAdditionalInfo", type="warning", show-icon, style="text-align: center") Please enter caption text before click or drag files here to upload
      i-form(:model="formItem", :label-width="80")
        form-item(label="Caption text")
          i-input(v-model="formItem.caption", type="textarea", :autosize="{minRows: 3, maxRows: 5}", placeholder="Enter caption text...", @on-change="handleInputChange")
</template>

<script>
  import FormItem from 'iview/src/components/form/form-item'

  export default {
    name: 'image-form-modal',
    components: {
      FormItem
    },
    data: () => ({
      isOpenModal: false,
      imgName: '',
      visible: false,
      hasAdditionalInfo: false,
      uploadList: [],
      headers: {
        'content-type': 'multipart/form-data'
      },
      formItem: {
        caption: ''
      }
    }),
    mounted () {
      this.uploadList = this.$refs.upload.fileList
    },
    methods: {
      handleFormatError (file) {
        this.$Notice.warning({
          title: 'The file format is incorrect',
          desc: 'File format of ' + file.name + ' is incorrect, please select jpg or png.'
        })
      },

      handleMaxSize (file) {
        this.$Notice.warning({
          title: 'Exceeding file size limit',
          desc: 'File  ' + file.name + ' is too large, no more than 2M.'
        })
      },

      handleBeforeUpload () {
        const check = this.uploadList.length < 5
        if (!check) {
          this.$Notice.warning({
            title: 'Up to five pictures can be uploaded.'
          })
        }
        return check
      },

      handleInputChange () {
        this.hasAdditionalInfo = this.formItem.caption
      },

      handleUploadSuccess (response) {
        if (response.status === 200) {
          this.$emit('uploadSuccess')
          this.$Notice.success({
            title: 'Uploading successful.'
          })
          // this.$refs.upload.clearFiles()
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .add-btn {
    width: 45px;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 17px;
  }

  img {
    width: 60px;
  }

  .ivu-form {
    margin-top: 25px;
  }

  .ivu-form-item {
    margin-bottom: 15px;
  }
</style>
