<template lang="pug">
  .memories
    timeline
      timeline-item(color="red")
        p.time 30-04-2017
        p.content Bữa ăn sáng làm quen đầu tiên với cô gái tên Loan
      timeline-item(color="green")
        p.time 11-05-2017
        p.content Nơi tình yêu ❤ của 2 đứa bắt đầu
      timeline-item(color="green")
        p.time 27-10-2017
        p.content Ngày anh chào đời ^^
      timeline-item(color="green")
        p.time 12-04-2018
        p.content Chúc mừng sinh nhật em yêu
</template>

<script>
  export default {
    name: 'memories'
  }
</script>

<style lang="scss" scoped>
  .memories {
    position: fixed;
    width: 280px;
    top: 305px;
    left: 5px;
    color: white;
    
    & /deep/ .ivu-timeline-item {
      padding: 0;
    }
  }

  .time {
    font-size: 14px;
    font-weight: bold;
    color: burlywood;
  }

  .content {
    padding-left: 5px;
    color: bisque;
  }
</style>
