<template lang="pug">
  #app
    router-view
</template>

<script>
  import ImageGallery from './components/ImageGallery'

  export default {
    name: 'app',
    components: {
      ImageGallery
    },
    data: () => ({
    }),
    mounted () {
    },
    methods: {
    }
  }
</script>

<style lang="scss">
  @import url('https://fonts.googleapis.com/css?family=Varela+Round');

  $font: "Varela Round", serif;

  body {
    margin: 0;
    overflow: auto;
  }

  #app {
    font-family: $font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }

  .ivu-timeline {
    padding: 5px;
  }

  .ivu-tooltip-inner {
    max-width: 150px;
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    background-color: #000 !important;
  }

  .ivu-tooltip-popper[x-placement^=top] .ivu-tooltip-arrow {
    border-top-color: #000 !important;
  }

  .ivu-tooltip-rel {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px;
    padding-top: 5px;
  }

  .header-v-img {
    background-color: rgba(0, 0, 0, 0.69) !important;
  }

  .ivu-layout-sider-trigger {
    display: none !important;
  }

  .ivu-layout-sider-zero-width-trigger {
    background: #49506082 !important;
    top: 30px !important;
    z-index: 999 !important;
  }

  .ivu-back-top {
    bottom: 20px !important;
    right: 20px !important;
  }
  
  @media only screen and (max-width: 500px) {
    .image-card {
      width: 290px !important;
      height: 385px !important;

      & /deep/ img {
        height: 325px !important;
      }
    }
    
    .nav-title {
      font-size: 2.5em !important;
    }

    .sub-title {
      font-size: 30px !important;
    }

    .memories {
      top: 225px !important;
    }
    
    .count-down {
      .title {
        font-size: 17px !important;
      }

      .block {
        font-size: 25px !important;
      }
    }
  }
</style>
